.default-color0.chart-pie {-fx-pie-color: blue;}
.default-color1.chart-pie {-fx-pie-color: yellow;}
.default-color2.chart-pie {-fx-pie-color: green;}
.default-color3.chart-pie {-fx-pie-color: pink;}
.default-color4.chart-pie {-fx-pie-color: purple;}
.default-color5.chart-pie {-fx-pie-color: grey;}
.default-color6.chart-pie {-fx-pie-color: red;}
.default-color7.chart-pie {-fx-pie-color: orange;}
.default-color8.chart-pie {-fx-pie-color: white;}
.default-color9.chart-pie {-fx-pie-color: #FF7F50;}
.default-color10.chart-pie {-fx-pie-color: brown;}


.chart-pie-label-line{
	-fx-fill:#8b4513;
	-fx-stroke:#8b4513;
}
.chart-pie-label{
	-fx-fill:black;
	-fx-font-size:1em;
}
.chart-legend{
	-fx-background-color:transparent;
	-fx-stroke:#daa520;
	-fx-border-width:1px;
	-fx-border-color:black;
	-fx-border-radius:5px;
}
.chart-legend-item{
	-fx-text-fill:black;
}
.chart-title{
	-fx-text-fill:black;
}
